  <nav class="navbar navbar-default navbar-top">
    <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <li><a class="navbar-brand" ng-click="getUsers()">Get Users</a></li>

        <li><a class="navbar-brand" ng-click='getSeed()'>Seed</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand" ng-click='logout()'>Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">

    <h1>Yo! Pinch DASH</h1>

    <div class="alert alert-info" ng-if="searchName != ''">
      <p>Sort Type: {{ sortType }}</p>
      <p>Sort Reverse: {{ sortReverse }}</p>
      <p>Search Query: {{ searchName }}</p>
    </div>

    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control" placeholder="filter by {{sortType}}" ng-model="searchName">
        </div>
      </div>
    </form>

    <table ng-if="table.keys.length" class="table table-bordered table-striped table-responsive">

      <thead>
        <td ng-repeat="key in table.keys">
          <a ng-click="sortType = key; sortReverse = !sortReverse">
            {{key}}
            <span ng-show="sortType == key && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == key && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      <thead>

      <tbody >
        <!-- <div ng-repeat="item in table.data">
          {{item.description}} -->
        <tr  ng-repeat="(key,value) in table.data | orderBy:sortType:sortReverse | filter:searchName">
            <td ng-repeat="supported in value track by $index ">{{supported}}</td>
          </tr>
        <!-- </div> -->
      </tbody>


    </table>

    <table class="table table-bordered table-striped table-responsive" ng-if="!customTable">

      <thead>
        <tr>
          <td>
            <a ng-click="sortType = 'name'; sortReverse = !sortReverse">
              Name
              <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a ng-click="sortType = 'email'; sortReverse = !sortReverse">
            Email
              <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
          <td>
            <a  ng-click="sortType = 'rating'; sortReverse = !sortReverse">
            Rating
              <span ng-show="sortType == 'rating' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'rating' && sortReverse" class="fa fa-caret-up"></span>
            </a>
          </td>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="item in records | orderBy:sortType:sortReverse | filter:searchName">
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.rating }}</td>
        </tr>
      </tbody>

    </table>
  </div>
